{% extends "blogApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
    });
    </script>
<style>
    .popover-body {background-color:green;}
</style>    

<div class="content-section">

    <!-- Author information -->
    <div class="media">
        <img class="d-flex mr-3 rounded-circle article-img" src="{{ object.author.userimage.image.url }}" alt="">
        <div class="media-body">
            <h4 class="mt-0"><a href="{% url 'user_posts' object.author.username %}">{{ object.author }}</a></h4>
            <h6 class="mt-0">{{ object.author.email }}</h6>
        </div>
    </div>
    <hr>

    <!-- Post information -->
    <div>
        <h1 class="mt-4">{{object.title}}</h1>
        <p>
            Posted on {{ object.date_posted|date:"F d, Y" }}
            {% if object.author == user %}
            <a class="btn btn-info btn-sm mt-1 mb-1 float-right" href="{% url 'post_update' object.slug %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1 float-right mr-2" href="{% url 'post_delete' object.slug %}">Delete</a>
            {% endif %}
        </p>
    </div>

    <!-- Post Content -->
    <p class="lead">{{ object.content}}</p>

    
    <!-- Like -->
    {% if user.is_authenticated %}
        <form action="{% url 'post_like' object.slug %}" method="POST">
            {% csrf_token %}

            {% if post_is_liked %}
                <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-info">Unlike</button>
            {% else %}
                <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-info">Like</button>
            {% endif %}
        </form>
    {% else %}
        <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Please login to like a post">Like</button>
    {% endif %}
    <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
    
    <!-- Comment-->
    {% if user.is_authenticated %}
        <form action="{% url 'add_comment' object.slug %}" method = 'POST'>
            {% csrf_token %}
            <input type='text' name = 'comment' id ='comment_id' />
            <input type='hidden' name="user_id" value="{{user.id}}" />
            <button type="submit" class="btn btn-info">Add Comment</button>
        </form>
    {% endif %}

    <!-- Display comments-->
    {% for comment in object.post_comments.all %}
            <h5 class="mt-0"><a href="{% url 'user_posts' comment.user.username %}">{{ comment.user }}</a></h5>
            {{ comment.comments}}
            <hr>
       
    {% empty %}
        <h4>No comments...</h4>    
    {% endfor %}    
      

{% endblock content %}    