{% extends "blogApp/base.html" %}
{% block content %}
{% for post in search_results %}
    <article class="content-section">
        <div class="col-md-8">
            <div class="article-mydata">
              <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a>
              <small>{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
        <h2><a class="article-title" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
{% empty %}    
    <h3> No posts.. please try with some other keyword</h3>
{% endfor %}
{% endblock %}